body {
    background-image: url(real.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #ecb0b0;
}


h1 {
    color: #ffffff;
    text-align: center;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
    margin-bottom: 20px;
}

.img-right, .img-left {
    position: absolute;
    width: 110px;
}

.img-right {
    top: 20px;
    left: 50px;
}

.img-left {
    top: 20px;
    right: 50px;
}


.info-box {
    background: rgba(0, 0, 0, 0.6);
    color: #f8d4de;
    padding: 20px;
    text-align: center ;
    margin: 30px auto;
    border-radius: 10px;
    width: 70%;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

.info-box p {
    font-size: 20px;
    line-height: 1.8;
    margin: 5px 0;
    font-family: 'Arial', sans-serif;
}
.indice {
    text-align: center;
    font-size: 50px;
    color: #ffd0d7;
    text-decoration: underline;
    margin-top: 50px;
    transition: color 0.3s ease;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}



ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    text-align: center;
    width: 60%;
}

ul li {
    margin: 15px 0;
    font-size: 24px;
    padding: 10px;
    border: 2px solid #f9cdcd;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.377);
    transition: all 0.3s ease;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

ul li:hover {
    background: #d9568a;
    color: #000;
    transform: translateY(-5px);
}

ul li a {
    text-decoration: none;
    color: inherit;
    display: block;
}