
body {
    background-image: url(fondoskz.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    text-align: center;
    color: #b3b3b3;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
    text-decoration: double;
    font-style: italic;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p {
    text-align: justify;
    line-height: 1.8;
    padding: 20px;
}

.foto1, .foto2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin: 20px;
}

.foto1 img, .foto2 img {
    width: auto;
    height: auto;
    border-radius: 10px;
}

table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

th, td {
    padding: 15px;
    text-align: center;
    color: #ffffff;
}

th {
    background: #565656;
    color: #ffffff;
    text-transform: uppercase;
}

tr {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

tr:last-child {
    border-bottom: none;
}

tr:hover {
    background: rgba(174, 174, 174, 0.2);
}

img.album {
    width: 100px;
    height: auto;
    border-radius: 10px;
}

video {
    display: block;
    margin: 30px auto;
    max-width: 80%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.index-container {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    margin-left: 530px;
}

h2 {
    margin-bottom: 20px;
    color: #fffdfd;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    font-size: 20px;
    margin: 10px 0;
    padding: 10px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    transition: transform 0.3s ease; 
    cursor: pointer;
}

ul li:hover {
    background: #acacac;
    color: #121212;
    transform: scale(1.05);
}

ul li::before {
    content: '✦︎';
    margin-right: 10px;
    color: #ffdada;
}


ul li a {
    color: #ffffff; 
    text-decoration: none;
    font-size: 20px;
    display: inline-block; 
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s; 
}

ul li a:hover {
    background-color: #acacac; 
    color: #121212; 
}
